body{
  background-image: url('http://www.adamelements.com/iKlips_DUO/img/grey-bg.jpg') ;
  background-size:cover;
}
#container {
    max-width: 800px;
    height: 400px;
    margin: 1em auto;
}

caption {
	padding-bottom: 5px;
	font-family: 'Verdana';
	font-size: 14pt;
	font-weight: bold;
	color:#555555;
}

table {
	font-family: 'Verdana';
	font-size: 12pt;
	color:#555555;
	border-collapse: collapse;
	border: 3px solid #CCCCCC;
	margin: 2px auto;
}

tr {
  	border-bottom: 2px solid #EEEEEE;
}

th {
	border-left: 2px solid #EEEEEE;
	border-right: 2px solid #EEEEEE;
	padding: 12px 15px;
	border-collapse: collapse;
}

th[scope="col"] {
	background-color: #ffffee;
}

th[scope="row"] {
	background-color: #f0fcff;
	text-align:left;
}

td {
  	border-left: 2px solid #EEEEEE;
  	border-right: 2px solid #EEEEEE;
  	padding: 12px 15px;
  	border-collapse: collapse;
}
.list-group-item{
  cursor:pointer;
}
.list-group-item:hover{
  background-color: #eee;
}
.btn{
  margin:2px;
}
.title{
  color:red;
  font-family: 'Cinzel', serif;

  text-align: center;
  font-size: 80px;
  margin: 40px;

}
p{
  font-family: 'Cinzel', serif;
  font-color:red;
}

.tickerButton {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.tickerButton:hover {
	background-color:#e05447;
}
.tickerButton:active {
	position:relative;
	top:1px;
}

.glow a{

  color:  black;

}

.glow a :hover {
  color:red;

}


@import url('https://fonts.googleapis.com/css?family=Cinzel')
